In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("processed_file.csv")

In [3]:
df

,Time of Occurrence,City,Crime Description,Victim Age,Victim Gender,Time
0,2020-01-01 01:11:00,Ahmedabad,IDENTITY THEFT,16,M,01:11:00
1,2020-01-01 06:26:00,Chennai,HOMICIDE,37,M,06:26:00
2,2020-01-01 14:30:00,Ludhiana,KIDNAPPING,48,F,14:30:00
3,2020-01-01 14:46:00,Pune,BURGLARY,49,F,14:46:00
4,2020-01-01 16:51:00,Pune,VANDALISM,30,F,16:51:00
...,...,...,...,...,...,...
40155,2024-07-31 05:05:00,Kolkata,COUNTERFEITING,78,F,05:05:00
40156,2024-07-31 04:14:00,Mumbai,ILLEGAL POSSESSION,75,F,04:14:00
40157,2024-07-31 21:33:00,Kanpur,VEHICLE - STOLEN,68,M,21:33:00
40158,2024-07-31 11:05:00,Patna,SEXUAL ASSAULT,11,M,11:05:00
40159,2024-07-31 17:19:00,Delhi,DOMESTIC VIOLENCE,43,F,17:19:00

In [4]:
df.drop(columns="Time of Occurrence",inplace=True)

In [7]:
df

            City   Crime Description  Victim Age Victim Gender      Time
0      Ahmedabad      IDENTITY THEFT          16             M  01:11:00
1        Chennai            HOMICIDE          37             M  06:26:00
2       Ludhiana          KIDNAPPING          48             F  14:30:00
3           Pune            BURGLARY          49             F  14:46:00
4           Pune           VANDALISM          30             F  16:51:00
...          ...                 ...         ...           ...       ...
40155    Kolkata      COUNTERFEITING          78             F  05:05:00
40156     Mumbai  ILLEGAL POSSESSION          75             F  04:14:00
40157     Kanpur    VEHICLE - STOLEN          68             M  21:33:00
40158      Patna      SEXUAL ASSAULT          11             M  11:05:00
40159      Delhi   DOMESTIC VIOLENCE          43             F  17:19:00

[40160 rows x 5 columns]

In [5]:
target=df[["Crime Description"]]

In [6]:
features=df.drop(columns="Crime Description")

In [7]:
target

        Crime Description
0          IDENTITY THEFT
1                HOMICIDE
2              KIDNAPPING
3                BURGLARY
4               VANDALISM
...                   ...
40155      COUNTERFEITING
40156  ILLEGAL POSSESSION
40157    VEHICLE - STOLEN
40158      SEXUAL ASSAULT
40159   DOMESTIC VIOLENCE

[40160 rows x 1 columns]

In [8]:
features

            City  Victim Age Victim Gender      Time
0      Ahmedabad          16             M  01:11:00
1        Chennai          37             M  06:26:00
2       Ludhiana          48             F  14:30:00
3           Pune          49             F  14:46:00
4           Pune          30             F  16:51:00
...          ...         ...           ...       ...
40155    Kolkata          78             F  05:05:00
40156     Mumbai          75             F  04:14:00
40157     Kanpur          68             M  21:33:00
40158      Patna          11             M  11:05:00
40159      Delhi          43             F  17:19:00

[40160 rows x 4 columns]

In [9]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le_city = LabelEncoder()
le_gender=LabelEncoder()
le_desc=LabelEncoder()

In [12]:
features['City'] = le_city.fit_transform(features['City'])
features['Victim Gender'] = le_gender.fit_transform(features['Victim Gender'])

In [13]:
target["Crime Description"]=le_desc.fit_transform(target["Crime Description"])

C:\Users\siddh\AppData\Local\Temp\ipykernel_23272\3979364695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target["Crime Description"]=le_desc.fit_transform(target["Crime Description"])

In [14]:
target

       Crime Description
0                     11
1                     10
2                     13
3                      2
4                     19
...                  ...
40155                  3
40156                 12
40157                 20
40158                 16
40159                  5

[40160 rows x 1 columns]

target

In [15]:
target

       Crime Description
0                     11
1                     10
2                     13
3                      2
4                     19
...                  ...
40155                  3
40156                 12
40157                 20
40158                 16
40159                  5

[40160 rows x 1 columns]

In [16]:
features

       City  Victim Age  Victim Gender      Time
0         1          16              1  01:11:00
1         4          37              1  06:26:00
2        15          48              0  14:30:00
3        21          49              0  14:46:00
4        21          30              0  16:51:00
...     ...         ...            ...       ...
40155    13          78              0  05:05:00
40156    17          75              0  04:14:00
40157    12          68              1  21:33:00
40158    20          11              1  11:05:00
40159     5          43              0  17:19:00

[40160 rows x 4 columns]

In [18]:
features['Time'] = features['Time'].apply(lambda x: int(x.split(':')[0]) * 60 + int(x.split(':')[1]))

AttributeError: 'int' object has no attribute 'split'

In [19]:
features

       City  Victim Age  Victim Gender  Time
0         1          16              1    71
1         4          37              1   386
2        15          48              0   870
3        21          49              0   886
4        21          30              0  1011
...     ...         ...            ...   ...
40155    13          78              0   305
40156    17          75              0   254
40157    12          68              1  1293
40158    20          11              1   665
40159     5          43              0  1039

[40160 rows x 4 columns]

In [20]:
df

            City   Crime Description  Victim Age Victim Gender      Time
0      Ahmedabad      IDENTITY THEFT          16             M  01:11:00
1        Chennai            HOMICIDE          37             M  06:26:00
2       Ludhiana          KIDNAPPING          48             F  14:30:00
3           Pune            BURGLARY          49             F  14:46:00
4           Pune           VANDALISM          30             F  16:51:00
...          ...                 ...         ...           ...       ...
40155    Kolkata      COUNTERFEITING          78             F  05:05:00
40156     Mumbai  ILLEGAL POSSESSION          75             F  04:14:00
40157     Kanpur    VEHICLE - STOLEN          68             M  21:33:00
40158      Patna      SEXUAL ASSAULT          11             M  11:05:00
40159      Delhi   DOMESTIC VIOLENCE          43             F  17:19:00

[40160 rows x 5 columns]

In [23]:
from sklearn import tree

In [24]:
model=tree.DecisionTreeClassifier()

In [25]:
model.fit(features,target)

DecisionTreeClassifier()

In [26]:
model.predict([[2,2,1,2]])

E:\lat-d\coding\01-machine\sklearn-env\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([7])

In [27]:
 le_gender.classes_

array(['F', 'M', 'X'], dtype=object)

In [28]:
le_city.classes_

array(['Agra', 'Ahmedabad', 'Bangalore', 'Bhopal', 'Chennai', 'Delhi',
       'Faridabad', 'Ghaziabad', 'Hyderabad', 'Indore', 'Jaipur',
       'Kalyan', 'Kanpur', 'Kolkata', 'Lucknow', 'Ludhiana', 'Meerut',
       'Mumbai', 'Nagpur', 'Nashik', 'Patna', 'Pune', 'Rajkot',
       'Srinagar', 'Surat', 'Thane', 'Varanasi', 'Vasai', 'Visakhapatnam'],
      dtype=object)

In [30]:
le_desc.classes_

array(['ARSON', 'ASSAULT', 'BURGLARY', 'COUNTERFEITING', 'CYBERCRIME',
       'DOMESTIC VIOLENCE', 'DRUG OFFENSE', 'EXTORTION',
       'FIREARM OFFENSE', 'FRAUD', 'HOMICIDE', 'IDENTITY THEFT',
       'ILLEGAL POSSESSION', 'KIDNAPPING', 'PUBLIC INTOXICATION',
       'ROBBERY', 'SEXUAL ASSAULT', 'SHOPLIFTING', 'TRAFFIC VIOLATION',
       'VANDALISM', 'VEHICLE - STOLEN'], dtype=object)

In [41]:
model.predict([[4,37,1,386]])

E:\lat-d\coding\01-machine\sklearn-env\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([10])

In [38]:
print(target.head(10))

   Crime Description
0                 11
1                 10
2                 13
3                  2
4                 19
5                  1
6                 20
7                  3
8                  7
9                 14

In [42]:
le_desc.inverse_transform([10])

array(['HOMICIDE'], dtype=object)

In [46]:
new_data_point = pd.DataFrame([[4, 37, 1, 386]], columns=['City', 'Victim ', 'Victim Gender', 'Time'])

In [50]:
import matplotlib.pyplot as plt