In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("crime_dataset_india.csv")

In [3]:
df.head()

,Report Number,Date Reported,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Police Deployed,Case Closed,Date Case Closed
0,1,02-01-2020 00:00,01-01-2020 00:00,01-01-2020 01:11,Ahmedabad,576,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,13,No,NaN
1,2,01-01-2020 19:00,01-01-2020 01:00,01-01-2020 06:26,Chennai,128,HOMICIDE,37,M,Poison,Other Crime,9,No,NaN
2,3,02-01-2020 05:00,01-01-2020 02:00,01-01-2020 14:30,Ludhiana,271,KIDNAPPING,48,F,Blunt Object,Other Crime,15,No,NaN
3,4,01-01-2020 05:00,01-01-2020 03:00,01-01-2020 14:46,Pune,170,BURGLARY,49,F,Firearm,Other Crime,1,Yes,29-04-2020 05:00
4,5,01-01-2020 21:00,01-01-2020 04:00,01-01-2020 16:51,Pune,421,VANDALISM,30,F,Other,Other Crime,18,Yes,08-01-2020 21:00

In [4]:
df.drop(columns="Date Reported",inplace=True)

In [9]:
df.drop(columns="Report Number",inplace=True)

In [10]:
df

,Date of Occurrence,Time of Occurrence,City,Crime Code,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Police Deployed,Case Closed,Date Case Closed
0,01-01-2020 00:00,01-01-2020 01:11,Ahmedabad,576,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,13,No,NaN
1,01-01-2020 01:00,01-01-2020 06:26,Chennai,128,HOMICIDE,37,M,Poison,Other Crime,9,No,NaN
2,01-01-2020 02:00,01-01-2020 14:30,Ludhiana,271,KIDNAPPING,48,F,Blunt Object,Other Crime,15,No,NaN
3,01-01-2020 03:00,01-01-2020 14:46,Pune,170,BURGLARY,49,F,Firearm,Other Crime,1,Yes,29-04-2020 05:00
4,01-01-2020 04:00,01-01-2020 16:51,Pune,421,VANDALISM,30,F,Other,Other Crime,18,Yes,08-01-2020 21:00
...,...,...,...,...,...,...,...,...,...,...,...,...
40155,07-31-2024 03:00,31-07-2024 05:05,Kolkata,312,COUNTERFEITING,78,F,Firearm,Other Crime,12,No,NaN
40156,07-31-2024 04:00,31-07-2024 04:14,Mumbai,300,ILLEGAL POSSESSION,75,F,NaN,Other Crime,2,Yes,29-09-2024 14:00
40157,07-31-2024 05:00,31-07-2024 21:33,Kanpur,423,VEHICLE - STOLEN,68,M,Other,Violent Crime,6,No,NaN
40158,07-31-2024 06:00,31-07-2024 11:05,Patna,311,SEXUAL ASSAULT,11,M,Blunt Object,Violent Crime,1,No,NaN
40159,07-31-2024 07:00,31-07-2024 17:19,Delhi,193,DOMESTIC VIOLENCE,43,F,Poison,Violent Crime,7,Yes,28-09-2024 17:00

In [ ]:
df

In [11]:
df.drop(columns='Crime Code', inplace=True)

In [12]:

df

,Date of Occurrence,Time of Occurrence,City,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Police Deployed,Case Closed,Date Case Closed
0,01-01-2020 00:00,01-01-2020 01:11,Ahmedabad,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,13,No,NaN
1,01-01-2020 01:00,01-01-2020 06:26,Chennai,HOMICIDE,37,M,Poison,Other Crime,9,No,NaN
2,01-01-2020 02:00,01-01-2020 14:30,Ludhiana,KIDNAPPING,48,F,Blunt Object,Other Crime,15,No,NaN
3,01-01-2020 03:00,01-01-2020 14:46,Pune,BURGLARY,49,F,Firearm,Other Crime,1,Yes,29-04-2020 05:00
4,01-01-2020 04:00,01-01-2020 16:51,Pune,VANDALISM,30,F,Other,Other Crime,18,Yes,08-01-2020 21:00
...,...,...,...,...,...,...,...,...,...,...,...
40155,07-31-2024 03:00,31-07-2024 05:05,Kolkata,COUNTERFEITING,78,F,Firearm,Other Crime,12,No,NaN
40156,07-31-2024 04:00,31-07-2024 04:14,Mumbai,ILLEGAL POSSESSION,75,F,NaN,Other Crime,2,Yes,29-09-2024 14:00
40157,07-31-2024 05:00,31-07-2024 21:33,Kanpur,VEHICLE - STOLEN,68,M,Other,Violent Crime,6,No,NaN
40158,07-31-2024 06:00,31-07-2024 11:05,Patna,SEXUAL ASSAULT,11,M,Blunt Object,Violent Crime,1,No,NaN
40159,07-31-2024 07:00,31-07-2024 17:19,Delhi,DOMESTIC VIOLENCE,43,F,Poison,Violent Crime,7,Yes,28-09-2024 17:00

In [ ]:
df.drop(columns='Date Case Closed', inplace=True)

In [13]:
df

,Date of Occurrence,Time of Occurrence,City,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Police Deployed,Case Closed,Date Case Closed
0,01-01-2020 00:00,01-01-2020 01:11,Ahmedabad,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,13,No,NaN
1,01-01-2020 01:00,01-01-2020 06:26,Chennai,HOMICIDE,37,M,Poison,Other Crime,9,No,NaN
2,01-01-2020 02:00,01-01-2020 14:30,Ludhiana,KIDNAPPING,48,F,Blunt Object,Other Crime,15,No,NaN
3,01-01-2020 03:00,01-01-2020 14:46,Pune,BURGLARY,49,F,Firearm,Other Crime,1,Yes,29-04-2020 05:00
4,01-01-2020 04:00,01-01-2020 16:51,Pune,VANDALISM,30,F,Other,Other Crime,18,Yes,08-01-2020 21:00
...,...,...,...,...,...,...,...,...,...,...,...
40155,07-31-2024 03:00,31-07-2024 05:05,Kolkata,COUNTERFEITING,78,F,Firearm,Other Crime,12,No,NaN
40156,07-31-2024 04:00,31-07-2024 04:14,Mumbai,ILLEGAL POSSESSION,75,F,NaN,Other Crime,2,Yes,29-09-2024 14:00
40157,07-31-2024 05:00,31-07-2024 21:33,Kanpur,VEHICLE - STOLEN,68,M,Other,Violent Crime,6,No,NaN
40158,07-31-2024 06:00,31-07-2024 11:05,Patna,SEXUAL ASSAULT,11,M,Blunt Object,Violent Crime,1,No,NaN
40159,07-31-2024 07:00,31-07-2024 17:19,Delhi,DOMESTIC VIOLENCE,43,F,Poison,Violent Crime,7,Yes,28-09-2024 17:00

In [15]:
df.drop(columns="Date of Occurrence",inplace=True)

In [19]:
df.drop(columns="Police Deployed",inplace=True)

In [20]:
print(df)

      Time of Occurrence       City   Crime Description  Victim Age  \
0       01-01-2020 01:11  Ahmedabad      IDENTITY THEFT          16
1       01-01-2020 06:26    Chennai            HOMICIDE          37
2       01-01-2020 14:30   Ludhiana          KIDNAPPING          48
3       01-01-2020 14:46       Pune            BURGLARY          49
4       01-01-2020 16:51       Pune           VANDALISM          30
...                  ...        ...                 ...         ...
40155   31-07-2024 05:05    Kolkata      COUNTERFEITING          78
40156   31-07-2024 04:14     Mumbai  ILLEGAL POSSESSION          75
40157   31-07-2024 21:33     Kanpur    VEHICLE - STOLEN          68
40158   31-07-2024 11:05      Patna      SEXUAL ASSAULT          11
40159   31-07-2024 17:19      Delhi   DOMESTIC VIOLENCE          43

      Victim Gender   Weapon Used   Crime Domain Case Closed  Date Case Closed
0                 M  Blunt Object  Violent Crime          No               NaN
1                 M        Poison    Other Crime          No               NaN
2                 F  Blunt Object    Other Crime          No               NaN
3                 F       Firearm    Other Crime         Yes  29-04-2020 05:00
4                 F         Other    Other Crime         Yes  08-01-2020 21:00
...             ...           ...            ...         ...               ...
40155             F       Firearm    Other Crime          No               NaN
40156             F           NaN    Other Crime         Yes  29-09-2024 14:00
40157             M         Other  Violent Crime          No               NaN
40158             M  Blunt Object  Violent Crime          No               NaN
40159             F        Poison  Violent Crime         Yes  28-09-2024 17:00

[40160 rows x 9 columns]

In [21]:
df

,Time of Occurrence,City,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Case Closed,Date Case Closed
0,01-01-2020 01:11,Ahmedabad,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,No,NaN
1,01-01-2020 06:26,Chennai,HOMICIDE,37,M,Poison,Other Crime,No,NaN
2,01-01-2020 14:30,Ludhiana,KIDNAPPING,48,F,Blunt Object,Other Crime,No,NaN
3,01-01-2020 14:46,Pune,BURGLARY,49,F,Firearm,Other Crime,Yes,29-04-2020 05:00
4,01-01-2020 16:51,Pune,VANDALISM,30,F,Other,Other Crime,Yes,08-01-2020 21:00
...,...,...,...,...,...,...,...,...,...
40155,31-07-2024 05:05,Kolkata,COUNTERFEITING,78,F,Firearm,Other Crime,No,NaN
40156,31-07-2024 04:14,Mumbai,ILLEGAL POSSESSION,75,F,NaN,Other Crime,Yes,29-09-2024 14:00
40157,31-07-2024 21:33,Kanpur,VEHICLE - STOLEN,68,M,Other,Violent Crime,No,NaN
40158,31-07-2024 11:05,Patna,SEXUAL ASSAULT,11,M,Blunt Object,Violent Crime,No,NaN
40159,31-07-2024 17:19,Delhi,DOMESTIC VIOLENCE,43,F,Poison,Violent Crime,Yes,28-09-2024 17:00

In [28]:
df.drop(columns="Case Closed",inplace=True)

In [29]:
df

,Time of Occurrence,City,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain
0,01-01-2020 01:11,Ahmedabad,IDENTITY THEFT,16,M,Blunt Object,Violent Crime
1,01-01-2020 06:26,Chennai,HOMICIDE,37,M,Poison,Other Crime
2,01-01-2020 14:30,Ludhiana,KIDNAPPING,48,F,Blunt Object,Other Crime
3,01-01-2020 14:46,Pune,BURGLARY,49,F,Firearm,Other Crime
4,01-01-2020 16:51,Pune,VANDALISM,30,F,Other,Other Crime
...,...,...,...,...,...,...,...
40155,31-07-2024 05:05,Kolkata,COUNTERFEITING,78,F,Firearm,Other Crime
40156,31-07-2024 04:14,Mumbai,ILLEGAL POSSESSION,75,F,NaN,Other Crime
40157,31-07-2024 21:33,Kanpur,VEHICLE - STOLEN,68,M,Other,Violent Crime
40158,31-07-2024 11:05,Patna,SEXUAL ASSAULT,11,M,Blunt Object,Violent Crime
40159,31-07-2024 17:19,Delhi,DOMESTIC VIOLENCE,43,F,Poison,Violent Crime

In [33]:
df["Time of Occurrence"]=pd.to_datetime(df["Time of Occurrence"],dayfirst=True)

In [34]:
df['Time'] = df['Time of Occurrence'].dt.time

In [36]:
df.drop(columns="Time of Occurrence")

,City,Crime Description,Victim Age,Victim Gender,Weapon Used,Crime Domain,Time
0,Ahmedabad,IDENTITY THEFT,16,M,Blunt Object,Violent Crime,01:11:00
1,Chennai,HOMICIDE,37,M,Poison,Other Crime,06:26:00
2,Ludhiana,KIDNAPPING,48,F,Blunt Object,Other Crime,14:30:00
3,Pune,BURGLARY,49,F,Firearm,Other Crime,14:46:00
4,Pune,VANDALISM,30,F,Other,Other Crime,16:51:00
...,...,...,...,...,...,...,...
40155,Kolkata,COUNTERFEITING,78,F,Firearm,Other Crime,05:05:00
40156,Mumbai,ILLEGAL POSSESSION,75,F,NaN,Other Crime,04:14:00
40157,Kanpur,VEHICLE - STOLEN,68,M,Other,Violent Crime,21:33:00
40158,Patna,SEXUAL ASSAULT,11,M,Blunt Object,Violent Crime,11:05:00
40159,Delhi,DOMESTIC VIOLENCE,43,F,Poison,Violent Crime,17:19:00

In [38]:
df.drop(columns="Weapon Used",inplace=True)

In [41]:
df.drop(columns="Crime Domain",inplace=True)

In [42]:
df

,Time of Occurrence,City,Crime Description,Victim Age,Victim Gender,Time
0,2020-01-01 01:11:00,Ahmedabad,IDENTITY THEFT,16,M,01:11:00
1,2020-01-01 06:26:00,Chennai,HOMICIDE,37,M,06:26:00
2,2020-01-01 14:30:00,Ludhiana,KIDNAPPING,48,F,14:30:00
3,2020-01-01 14:46:00,Pune,BURGLARY,49,F,14:46:00
4,2020-01-01 16:51:00,Pune,VANDALISM,30,F,16:51:00
...,...,...,...,...,...,...
40155,2024-07-31 05:05:00,Kolkata,COUNTERFEITING,78,F,05:05:00
40156,2024-07-31 04:14:00,Mumbai,ILLEGAL POSSESSION,75,F,04:14:00
40157,2024-07-31 21:33:00,Kanpur,VEHICLE - STOLEN,68,M,21:33:00
40158,2024-07-31 11:05:00,Patna,SEXUAL ASSAULT,11,M,11:05:00
40159,2024-07-31 17:19:00,Delhi,DOMESTIC VIOLENCE,43,F,17:19:00

In [43]:
df.to_csv("processed_file.csv", index=False)

In [44]:
print(df.head())

   Time of Occurrence       City Crime Description  Victim Age Victim Gender  \
0 2020-01-01 01:11:00  Ahmedabad    IDENTITY THEFT          16             M
1 2020-01-01 06:26:00    Chennai          HOMICIDE          37             M
2 2020-01-01 14:30:00   Ludhiana        KIDNAPPING          48             F
3 2020-01-01 14:46:00       Pune          BURGLARY          49             F
4 2020-01-01 16:51:00       Pune         VANDALISM          30             F

       Time
0  01:11:00
1  06:26:00
2  14:30:00
3  14:46:00
4  16:51:00